body {
  font-family: 'Montserrat', sans-serif;
  color: #1E1E1E;
  font-weight: 500;
}

a {
  color: #1E1E1E;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
}

.container {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 10px;
}

.button-select {
  background: #0089EE;
  border-radius: 4px;
  display: inline-block;
  padding: 20.5px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.button-select.--kyrgyzstan {
  background: #E37640;
}

.button-select.--kazahstan {
  background: #4497B3;
}

.button-detaled {
  border-radius: 4px;
  display: inline-block;
  padding: 20.5px 24px;
  color: #A8B8C5;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
}

.title__accent {
  background: rgba(0, 137, 238, 0.1);
  padding: 12px 16px;
  border-radius: 4px;
  display: inline-block;
}

.title__accent p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0089EE;
}

.title__accent.--kyrgyzstan {
  background: rgba(255, 209, 136, 0.2);
}

.title__accent.--kyrgyzstan p {
  color: #E37640;
}

.title__accent.--kazahstan {
  background: rgba(164, 216, 238, 0.2);
  color: #4497B3;
}

.header {
  overflow: hidden;
}

.header-top {
  padding: 22px 0;
}

.header-top__wrapper {
  max-width: 1392px;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__logo {
  width: 210px;
  border-right: 1px solid rgba(168, 184, 197, 0.4);
}

.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__phone {
  position: relative;
}

.header-top__phone::after {
  position: absolute;
  content: url(../img/phone_left.svg);
  top: 7px;
  left: -30px;
}

.header-top__phone a {
  font-size: 20px;
  line-height: 120%;
}

.header-top__phone p {
  color: #A8B8C5;
  line-height: 24px;
  font-size: 12px;
}

.header-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-menu ul li {
  padding: 10px;
}

.header-menu ul li a {
  font-size: 16px;
  line-height: 160%;
}

.header-main {
  position: relative;
  margin-bottom: 60px;
}

.header-main__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1392px;
  padding: 0 10px;
  background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
  border-radius: 12px 0px 0px 12px;
}

.header-main__wrapper::before {
  content: "";
  height: 100%;
  width: 100%;
  background: #EBEFF9;
  top: 0;
  right: -70%;
  position: absolute;
}

.header-main__wrapper.--country {
  border-radius: 12px;
}

.header-main__wrapper.--country::before {
  display: none;
}

.header-main__wrapper.--country .header-main__container {
  padding: 124px 10px;
}

.header-main__wrapper.--country .header-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  max-width: 120px;
}

.header-main__wrapper.--country .header-main__description {
  max-width: 720px;
}

.header-main__wrapper.--country.--kyrgyzstan {
  background: url(../img/header-main__kyrgyzstan__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main__wrapper.--country.--kyrgyzstan .header-main__title {
  background: rgba(245, 199, 126, 0.3);
}

.header-main__wrapper.--country.--kyrgyzstan .header-main__title p {
  color: #fff;
}

.header-main__wrapper.--country.--kyrgyzstan .header-main__description h1 {
  color: #fff;
}

.header-main__wrapper.--country.--kyrgyzstan .header-main__description p {
  color: #FFD188;
}

.header-main__wrapper.--country.--kyrgyzstan .header-main__description .button-select {
  background: #fff;
  color: #E37640;
}

.header-main__wrapper.--country.--kazahstan {
  background: url(../img/header-main__kazahstan__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main__wrapper.--country.--kazahstan .header-main__title {
  color: #fff;
  background: rgba(186, 225, 255, 0.2);
}

.header-main__wrapper.--country.--kazahstan .header-main__description {
  max-width: 675px;
}

.header-main__wrapper.--country.--kazahstan .header-main__description h1 {
  color: #fff;
}

.header-main__wrapper.--country.--kazahstan .header-main__description p {
  color: #BAE1FF;
}

.header-main__wrapper.--country.--kazahstan .header-main__description .button-select {
  background: #fff;
  color: #4497B3;
}

.header-main__wrapper.--country.--kazahstan .header-main__img {
  height: 95%;
  top: 80px;
  right: -65px;
}

.header-main__wrapper.--bank::before {
  top: 0;
  right: 0;
  width: 34%;
  height: 100%;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main__wrapper.--bank.--baikal::before {
  background-image: url(../img/header-main__baikal_after.png);
}

.header-main__wrapper.--bank.--baikal .button-select {
  background: #1E4165;
}

.header-main__wrapper.--bank.--freedom::before {
  background-image: url(../img/header-main__freedom_after.png);
}

.header-main__wrapper.--bank.--freedom .button-select {
  background: #298B3F;
}

.header-main__wrapper.--bank.--freedom .header-main__img {
  top: 190px;
  right: 235px;
}

.header-main__wrapper.--bank .header-main__container .header-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  max-width: 120px;
}

.header-main__wrapper.--bank .header-main__img {
  top: 150px;
  right: 165px;
}

.header-main__wrapper.--bank .header-main__img img {
  height: auto;
}

.header-main__wrapper.--bank .header-main__container {
  padding: 87px 10px;
}

.header-main__container {
  padding: 135px 10px;
  max-width: 1268px;
  margin: 0 auto;
  position: relative;
}

.header-main__title {
  display: inline-block;
  background: rgba(0, 137, 238, 0.1);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 40px;
}

.header-main__title p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0089EE;
}

.header-main__description {
  max-width: 526px;
}

.header-main__description h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 40px;
}

.header-main__description p {
  max-width: 560px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  margin-bottom: 80px;
}

.header-main__img {
  position: absolute;
  content: "";
  height: 100%;
  top: 45px;
  right: 0;
  z-index: 1;
}

.header-main__img img {
  height: 100%;
}

.header-main__right-img {
  position: absolute;
  bottom: 135px;
  right: 0;
}

.header-main__right-img.--country {
  display: none;
}

.header-main__right-img.--baikal {
  display: none;
}

.header-benefit {
  margin-bottom: 200px;
}

.header-benefit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-benefit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-benefit__inner p {
  width: 256px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.header-benefit__title {
  margin-bottom: 24px;
  width: 256px;
}

.header-benefit__title p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #1E1E1E;
}

.header-benefit__title span {
  color: #0089EE;
}

.header-benefit__title.--kyrgyzstan span {
  color: #E37640;
}

.header-benefit__title.--kazahstan span {
  color: #4497B3;
}

.header-benefit__title.--bakai span {
  color: #1E4165;
}

.header-benefit__title.--freedom span {
  color: #298B3F;
}

.price__title {
  text-align: center;
  margin-bottom: 80px;
}

.price__title .title__accent {
  margin-bottom: 40px;
}

.price__title h2 {
  margin-bottom: 24px;
}

.price__title p {
  color: #A8B8C5;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.price-wrapper.--country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.price-wrapper.--country .price-cards__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-wrapper.--country .price-cards__inner p {
  letter-spacing: 0.5px;
}

.price-wrapper.--country .price-cards__img {
  text-align: center;
}

.price-wrapper.--country .price-cards__banner {
  display: none;
}

.price-wrapper.--country .price-cards__benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-wrapper.--country .price-cards__benefit ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-wrapper.--country .price-cards__benefit ul li {
  margin-bottom: 32px;
}

.price-wrapper.--country .price-cards__benefit ul li::before {
  display: none;
}

.price-wrapper.--country .price-cards__price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.price-wrapper.--country .price-cards__price-value {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-bottom: 32px;
}

.price-wrapper.--country .price-cards__price .button-detaled {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.price-wrapper.--country.--kyrgyzstan .price-cards__benefit ul li::after {
  content: url(../img/checked_orange.svg);
}

.price-cards {
  padding: 40px;
  background: #F4F7FF;
  border-radius: 12px;
  margin-bottom: 40px;
}

.price-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.price-cards__item.--kazahstan {
  margin-bottom: 75px;
}

.price-cards__item.--kazahstan .price-cards__inner p {
  margin-bottom: 85px;
}

.price-cards__inner p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  margin-bottom: 40px;
  max-width: 535px;
}

.price-cards__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 137, 238, 0.1);
  -webkit-column-gap: 8px;
          column-gap: 8px;
  padding: 8px;
  width: 118px;
  margin-bottom: 32px;
}

.price-cards__banner p {
  color: #0089EE;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
}

.price-cards__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.price-cards__title h3 {
  font-size: 20px;
  line-height: 120%;
}

.price-cards__title img {
  display: none;
}

.price-cards__mobile {
  display: none;
}

.price-cards__benefit {
  margin-bottom: 50px;
}

.price-cards__benefit ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-cards__benefit ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  max-width: 178px;
  margin-left: 28px;
  position: relative;
}

.price-cards__benefit ul li span {
  color: #A8B8C5;
  text-transform: uppercase;
}

.price-cards__benefit ul li::after {
  position: absolute;
  top: 5px;
  left: -28px;
  content: url(../img/checked.svg);
}

.price-cards__benefit ul li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 87%;
  background: rgba(168, 184, 197, 0.4);
  right: -17%;
  top: 5px;
}

.price-cards__benefit ul li:last-child::before {
  display: none;
}

.price-cards__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-cards__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-cards__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-cards__price-value {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  color: #0089EE;
}

.price-cards__price-value.--kyrgyzstan {
  color: #E37640;
}

.price-cards__price-value.--kazahstan {
  color: #4497B3;
}

.price-inn {
  padding: 40px;
  background: linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  color: #fff;
  margin-bottom: 40px;
}

.price-inn__item-mobile {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-inn__item--2 {
  padding-top: 8px;
}

.price-inn__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  margin-bottom: 50px;
}

.price-inn__inner h3 {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.price-inn__inner p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #C6E5F7;
}

.price-inn__inner:last-child {
  margin-right: 24px;
}

.price-inn__inner .price-cards__banner {
  background: rgba(244, 247, 255, 0.2);
}

.price-inn__inner .price-cards__banner p {
  color: #fff;
}

.price-inn__inner ul {
  padding-top: 32px;
  list-style: none;
  position: relative;
}

.price-inn__inner ul li {
  margin-bottom: 32px;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.price-inn__inner ul li::before {
  position: absolute;
  top: 5px;
  left: -28px;
  content: url(../img/checked_gray.svg);
}

.price-inn__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-inn__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.price-inn__cta .button-detaled {
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.price-inn__value {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
}

.rate {
  max-width: 1268px;
  margin: 0 auto;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  border-radius: 12px;
  padding: 60px 0 40px;
  margin-bottom: 100px;
}

.rate__top {
  text-align: center;
  margin-bottom: 40px;
}

.rate__top h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 25px;
}

.rate__top p {
  color: #A8B8C5;
  font-size: 16px;
  line-height: 160%;
}

.rate-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.rate-table__inner {
  width: 50%;
}

.rate-table__inner table {
  width: 100%;
}

.rate-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rate-table tr:nth-child(even) {
  background: #F4F7FF;
}

.rate-table tr td {
  padding: 40px;
  width: 50%;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.rate-table tr td:nth-child(2) {
  text-align: center;
}

.rate-table tr td span {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1E1E1E;
}

.rate-table tr td p {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  color: #1E4165;
}

.rate-table.--freedom tr td p {
  color: #298B3F;
}

.rate-cta {
  padding: 0 40px;
}

.rate-cta__item {
  background: linear-gradient(93.85deg, #F4F7FF 50.7%, rgba(244, 247, 255, 0) 75.59%);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.rate-cta__inner p {
  margin-left: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  max-width: 830px;
}

.rate-cta__link {
  padding: 10px 0;
}

.rate-cta__link a {
  display: inline-block;
  background: #1E4165;
  border-radius: 4px;
  color: #fff;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
}

.rate-cta__link.--freedom a {
  background: #298B3F;
}

.refill {
  background: #F4F7FF;
  padding: 100px 0;
  margin-bottom: 120px;
}

.refill-top {
  text-align: center;
  margin-bottom: 80px;
}

.refill-top__title {
  background: rgba(153, 192, 220, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  display: inline-block;
  margin-bottom: 40px;
}

.refill-top__title p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1E4165;
}

.refill-top__title.--freedom {
  background: rgba(164, 238, 202, 0.2);
}

.refill-top__title.--freedom p {
  color: #298B3F;
}

.refill-top h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 25px;
}

.refill-top p {
  font-size: 16px;
  line-height: 160%;
  color: #A8B8C5;
}

.refill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.refill-inner {
  padding: 32px;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  border-radius: 12px;
  width: 300px;
}

.refill-inner__img {
  margin-bottom: 32px;
}

.refill-inner__title {
  margin-bottom: 24px;
}

.refill-inner__title h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
}

.refill-inner__text p {
  font-size: 16px;
  line-height: 160%;
  color: #A8B8C5;
}

.compare {
  padding: 60px 0 40px;
  margin: 0 auto 40px;
  border: 1px solid rgba(168, 184, 197, 0.2);
  border-radius: 12px;
  max-width: 1268px;
}

.compare__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.compare__stars {
  position: relative;
  width: 50%;
}

.compare__stars img {
  position: absolute;
}

.compare__stars .stars-1 {
  top: -22px;
}

.compare__stars .stars-2 {
  top: 0;
  left: 50px;
}

.compare__stars .stars-3 {
  right: 0;
  bottom: 35px;
}

.compare__title {
  padding: 0 40px;
}

.compare__title h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 25px;
}

.compare__title p {
  color: #A8B8C5;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 30px;
}

.compare__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.compare__table {
  text-align: center;
}

.compare__table th {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1E1E1E;
  padding: 37.5px 75px 37.5px 35px;
}

.compare__table tr td {
  color: #A8B8C5;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  height: 80px;
  padding: 37.5px 75px 0 40px;
}

.compare__table tr td img, .compare__table tr td span {
  margin-right: 8px;
}

.compare__table tr td p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.compare__table tr td:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
  color: #1E1E1E;
}

.compare__table tr:nth-child(even) {
  background: #F4F7FF;
}

.compare__table.--kyrgyzstan tbody tr td p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #E37640;
}

.compare__button {
  padding: 21px 24px;
  color: #A8B8C5;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  border-radius: 4px;
}

.compare-warning {
  background: linear-gradient(93.85deg, #F4F7FF 50.7%, rgba(244, 247, 255, 0) 75.59%);
  border-radius: 4px;
  max-width: 1168px;
  margin: 0 auto;
  padding: 24px;
}

.compare-warning__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.compare-warning__item p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  max-width: 950px;
}

.compare-warning__i {
  border: 2px solid #A8B8C5;
  color: #A8B8C5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.compare.--country {
  margin-bottom: 50px;
}

.banner-detailed {
  padding-top: 80px;
  position: relative;
  margin-bottom: 100px;
}

.banner-detailed__item {
  background: linear-gradient(93.31deg, #51B6FF 0%, #007FE4 100%);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px;
  color: #fff;
}

.banner-detailed__inner h3 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 24px;
}

.banner-detailed__inner p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40px;
  max-width: 535px;
}

.banner-detailed__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.banner-detailed__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 2px;
}

.banner-detailed__link p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 0;
}

.banner-detailed__img {
  position: absolute;
  right: 250px;
  bottom: -3px;
}

.banner-detailed__img img {
  width: 115%;
}

.banner-detailed__stars-1 {
  position: absolute;
  bottom: 25px;
  left: 260px;
}

.banner-detailed__stars-2 {
  position: absolute;
  bottom: 260px;
  left: 48%;
}

.banner-detailed__stars-3 {
  position: absolute;
  bottom: 20px;
  right: 190px;
}

.banner-detailed.--kazahstan .banner-detailed__item {
  background: linear-gradient(264.89deg, #7BD5EB 0%, #57A4D0 100%);
}

.banner-detailed.--kazahstan .banner-detailed__inner p {
  color: #BAE1FF;
}

.banner-detailed.--kazahstan .banner-detailed__inner .banner-detailed__link {
  color: #4497B3;
}

.banner-detailed.--kyrgyzstan .banner-detailed__item {
  background: linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%);
}

.banner-detailed.--kyrgyzstan .banner-detailed__inner p {
  color: #FFD188;
}

.banner-detailed.--kyrgyzstan .banner-detailed__inner .banner-detailed__link {
  color: #E37640;
}

.banner-bank {
  margin-bottom: 200px;
}

.banner-bank__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  position: relative;
}

.banner-bank__inner {
  position: relative;
  width: 50%;
}

.banner-bank__logo {
  margin-bottom: 40px;
}

.banner-bank__decripton {
  max-width: 580px;
  margin-bottom: 40px;
}

.banner-bank__decripton p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.banner-bank__link a {
  display: inline-block;
  padding: 20px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  background: #fff;
  cursor: pointer;
}

.banner-bank__img {
  position: absolute;
  bottom: -63px;
  width: 100%;
}

.banner-bank .stars-1 {
  position: absolute;
  bottom: -35px;
  left: 55px;
}

.banner-bank .stars-2 {
  margin-left: -50px;
}

.banner-bank .stars-3 {
  position: absolute;
  bottom: 30px;
  right: 0;
}

.banner-bank.bakai .banner-bank__item {
  background: linear-gradient(148.13deg, #325579 0%, #073768 100%);
  border-radius: 12px;
  z-index: 0;
}

.banner-bank.bakai .banner-bank__item::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../img/steps-bg_baikal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-bank.bakai .banner-bank__decripton p {
  color: #7BA5BC;
}

.scope {
  background: #F4F7FF;
  padding: 100px 0;
  margin-bottom: 100px;
}

.scope-top {
  margin-bottom: 80px;
}

.scope-top h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 25px;
  width: 900px;
}

.scope-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.scope-title {
  background: rgba(0, 137, 238, 0.1);
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0089EE;
  margin-bottom: 40px;
  display: inline-block;
}

.scope-title.--kyrgyzstan {
  background: rgba(255, 209, 136, 0.2);
  color: #E37640;
}

.scope-title.--kazahstan {
  background: rgba(164, 216, 238, 0.2);
  color: #4497B3;
}

.scope-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.scope-grid__item {
  padding: 32px;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  border-radius: 12px;
}

.scope-grid__item img {
  margin-bottom: 32px;
}

.scope-grid__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.scope-grid__item:nth-child(2) {
  -ms-grid-column: 3;
  grid-column: 3;
}

.scope-grid__item:nth-child(3) {
  -ms-grid-column: 1;
  grid-column: 1;
}

.scope-grid__item:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.scope-grid__item:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.scope-grid__item:nth-child(6) {
  -ms-grid-column: 3;
  grid-column: 3;
}

.scope-grid__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 24px;
}

.scope-grid__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  letter-spacing: 1.5px;
}

.steps {
  position: relative;
  margin-bottom: 200px;
}

.steps-title {
  background: rgba(0, 137, 238, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0089EE;
  margin-bottom: 40px;
}

.steps-title.--kyrgyzstan {
  background: rgba(255, 209, 136, 0.2);
  color: #E37640;
}

.steps-title.--kazahstan {
  background: rgba(164, 216, 238, 0.2);
  color: #4497B3;
}

.steps-title.--baikal {
  background: rgba(153, 192, 220, 0.2);
  color: #1E4165;
}

.steps-title.--freedom {
  background: rgba(164, 238, 202, 0.2);
  color: #298B3F;
}

.steps-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.steps-top__inner h2 {
  display: inline-block;
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  max-width: 720px;
}

.steps-top__inner p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  display: inline-block;
  max-width: 380px;
}

.steps-main {
  position: relative;
  background: linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%);
  border-radius: 12px;
  padding: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 60px;
  color: #fff;
  z-index: 0;
}

.steps-main::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../img/steps-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.steps-main.--kyrgyzstan {
  background: linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%);
}

.steps-main.--kyrgyzstan::after {
  background-image: url(../img/steps-bg_orange.png);
}

.steps-main.--kyrgyzstan p {
  color: #FFD188;
}

.steps-main.--kazahstan {
  background: linear-gradient(264.89deg, #7BD5EB 0%, #57A4D0 100%);
}

.steps-main.--kazahstan::after {
  background-image: url(../img/steps-bg_blue.png);
}

.steps-main.--baikal {
  background: linear-gradient(148.13deg, #325579 0%, #073768 100%);
}

.steps-main.--baikal::after {
  background-image: url(../img/steps-bg_baikal.png);
}

.steps-main.--baikal p {
  color: #7BA5BC;
}

.steps-main.--freedom {
  background: linear-gradient(148.13deg, #32A64D 0%, #297538 100%);
}

.steps-main.--freedom::after {
  background-image: url(../img/steps-bg_freedom.png);
}

.steps-main.--freedom p {
  color: #A0D8A7;
}

.steps-main__num {
  font-weight: 500;
  font-size: 80px;
  line-height: 160%;
}

.steps-main__title {
  margin-bottom: 25px;
}

.steps-main__title h3 {
  font-size: 20px;
  line-height: 120%;
}

.steps-main p {
  color: #C6E5F7;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.steps-img {
  position: absolute;
  bottom: -105px;
  right: 66px;
}

.steps-img.--country {
  display: none;
}

.steps-img.hide {
  display: none;
}

.faq {
  margin-bottom: 100px;
}

.faq-top {
  text-align: center;
  margin-bottom: 85px;
}

.faq-top__title {
  display: inline-block;
  background: rgba(0, 137, 238, 0.1);
  border-radius: 4px;
  padding: 12px 16px;
  color: #0089EE;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40px;
}

.faq-top__title.--kyrgyzstan {
  background: rgba(255, 209, 136, 0.2);
  color: #E37640;
}

.faq-top__title.--kazahstan {
  background: rgba(164, 216, 238, 0.2);
  color: #4497B3;
}

.faq-top__title.--bakai {
  color: #1E4165;
}

.faq-top h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 25px;
}

.faq-top p {
  color: #A8B8C5;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.faq-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.faq-item.--kyrgyzstan .faq-inner .faq-block__question::after {
  background-color: #E37640;
}

.faq-item.--kyrgyzstan .faq-inner .faq-block__question::before {
  background-color: #E37640;
}

.faq-item.--kazahstan .faq-inner .faq-block__question::after {
  background-color: #4497B3;
}

.faq-item.--kazahstan .faq-inner .faq-block__question::before {
  background-color: #4497B3;
}

.faq-item.--bakai .faq-inner .faq-block__question::after {
  background-color: #1E4165;
}

.faq-item.--bakai .faq-inner .faq-block__question::before {
  background-color: #1E4165;
}

.faq-inner {
  width: 50%;
}

.faq-block {
  padding: 40px;
  border-bottom: 1px solid rgba(168, 184, 197, 0.2);
}

.faq-block__question {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.faq-block__question::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 14px;
  background-color: #0089EE;
  top: 50%;
  right: 0;
  cursor: pointer;
}

.faq-block__question::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 14px;
  background-color: #0089EE;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease 0s;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s, -webkit-transform .5s ease 0s;
}

.faq-block__responce {
  height: 0;
  -webkit-transition: height 0.5s ease 0s;
  transition: height 0.5s ease 0s;
}

.faq-block__responce p {
  font-size: 0;
  line-height: 160%;
  color: #A8B8C5;
}

.faq-block__request.active .faq-block__responce {
  height: 120px;
}

.faq-block__request.active .faq-block__responce p {
  font-size: 16px;
}

.faq-block__request.active .faq-block__question::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.banner-feedback {
  margin-bottom: 100px;
}

.banner-feedback__item {
  background: linear-gradient(93.31deg, #51B6FF 0%, #007FE4 100%);
  border-radius: 12px;
  padding: 60px 60px 0 60px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-feedback__inner {
  position: relative;
}

.banner-feedback__inner h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 40px;
}

.banner-feedback__inner p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  max-width: 640px;
}

.banner-feedback__cards {
  position: relative;
  height: 200px;
}

.banner-feedback__cards--1, .banner-feedback__cards--2, .banner-feedback__cards--3 {
  position: absolute;
}

.banner-feedback__cards--1 {
  bottom: -3px;
  left: 30px;
  z-index: 1;
}

.banner-feedback__cards--2 {
  bottom: -3px;
  left: 269px;
}

.banner-feedback__cards--3 {
  right: 0;
  bottom: 30px;
}

.banner-feedback__stars--1 {
  position: absolute;
  top: 0;
  right: 100px;
}

.banner-feedback__stars--2 {
  position: absolute;
  left: 30px;
  bottom: 55px;
}

.banner-feedback__parametr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.banner-feedback__indicator {
  max-width: 160px;
}

.banner-feedback__indicator-value {
  font-size: 80px;
  line-height: 160%;
}

.banner-feedback__indicator p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.banner-feedback__otzovik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner-feedback__otzovik p {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #BAE1FF;
}

.banner-feedback__link {
  background-color: #fff;
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  max-width: 297px;
}

.banner-feedback__link p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1E1E1E;
}

.blog {
  background: linear-gradient(146.36deg, #F4F7FF 14.94%, rgba(244, 247, 255, 0) 59.69%);
  padding: 100px 0 25px;
}

.blog-top {
  position: relative;
  margin-bottom: 60px;
}

.blog-top__title {
  display: inline-block;
  padding: 12px 16px;
  background: rgba(0, 137, 238, 0.1);
  font-size: 16px;
  line-height: 160%;
  color: #0089EE;
  border-radius: 4px;
  margin-bottom: 40px;
}

.blog-top__title.--kyrgyzstan {
  background: rgba(255, 209, 136, 0.2);
  color: #E37640;
}

.blog-top__title.--kazahstan {
  background: rgba(164, 216, 238, 0.2);
  color: #4497B3;
}

.blog-top h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 25px;
}

.blog-top p {
  font-size: 16px;
  line-height: 160%;
  color: #A8B8C5;
}

.blog-top__stars--1, .blog-top__stars--2 {
  position: absolute;
}

.blog-top__stars--1 {
  bottom: 100px;
  right: 300px;
}

.blog-top__stars--2 {
  bottom: 130px;
  right: 260px;
}

.blog-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 20px;
}

.blog-article {
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  border-radius: 12px;
}

.blog-article__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.blog-article__main {
  padding: 24px 24px 34px;
}

.blog-article__title {
  margin-bottom: 24px;
}

.blog-article__title h3 {
  font-size: 20px;
  line-height: 120%;
}

.blog-article__prev p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.blog-dzen {
  padding: 24px;
  margin-bottom: 100px;
}

.blog-dzen__logo {
  margin-bottom: 40px;
}

.blog-dzen p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  margin-bottom: 40px;
}

.blog-dzen__link {
  display: inline-block;
  padding: 20.5px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  background: #0089EE;
  border-radius: 4px;
}

.blog-dzen__link.--kyrgyzstan {
  background: #E37640;
}

.blog-dzen__link.--kazahstan {
  background: #4497B3;
}

.blog-dzen__link.--bakai {
  background: #1E4165;
}

.requisites {
  margin-bottom: 60px;
}

.requisites-wrapper {
  position: relative;
  padding: 80px 60px;
  background: linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%);
  border-radius: 12px;
  color: #fff;
  z-index: 0;
}

.requisites-wrapper::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url(../img/steps-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.requisites-wrapper h3 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 80px;
}

.requisites-wrapper.--kyrgyzstan {
  background: linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%);
}

.requisites-wrapper.--kyrgyzstan::after {
  background-image: url(../img/steps-bg_orange.png);
}

.requisites-wrapper.--kyrgyzstan .requisites-title {
  color: #FFD188;
}

.requisites-wrapper.--kyrgyzstan .requisites-download p {
  color: #E37640;
}

.requisites-wrapper.--kyrgyzstan .requisites-phone p {
  color: #FFD188;
}

.requisites-wrapper.--kazahstan {
  background: linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%);
}

.requisites-wrapper.--kazahstan::after {
  background-image: url(../img/steps-bg_blue.png);
}

.requisites-wrapper.--kazahstan .requisites-title {
  color: #C6E5F7;
}

.requisites-wrapper.--kazahstan .requisites-download p {
  color: #76A0B7;
}

.requisites-wrapper.--kazahstan .requisites-phone p {
  color: #C6E5F7;
}

.requisites-wrapper.--bakai {
  background: linear-gradient(148.13deg, #325579 0%, #073768 100%);
}

.requisites-wrapper.--bakai::after {
  background-image: url(../img/steps-bg_baikal.png);
}

.requisites-wrapper.--bakai .requisites-title {
  color: #7BA5BC;
}

.requisites-wrapper.--bakai .requisites-download p {
  color: #1E4165;
}

.requisites-wrapper.--bakai .requisites-phone p {
  color: #7BA5BC;
}

.requisites-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.requisites-item:nth-child(2) {
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.requisites-item:nth-child(3) {
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.requisites-item:nth-child(4) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.requisites-item:nth-child(4) .requisites-inner:nth-child(1) {
  margin-right: 185px;
}

.requisites-item:nth-child(4) .requisites-inner:nth-child(2) {
  margin-right: 45px;
}

.requisites-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #C6E5F7;
  margin-bottom: 20px;
}

.requisites-value {
  font-size: 20px;
  line-height: 120%;
}

.requisites-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  padding: 24px 20.5px;
  background: #fff;
  border-radius: 4px;
}

.requisites-download p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #76A0B7;
}

.requisites-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.requisites-phone {
  position: relative;
}

.requisites-phone__number {
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 8px;
}

.requisites-phone p {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #C6E5F6;
}

.requisites-phone::after {
  position: absolute;
  content: url(../img/req_Phone.svg);
  left: -40px;
  top: 5px;
}

.requisites-social {
  margin-right: 12px;
}

.requisites-telegram {
  position: absolute;
  right: 60px;
  bottom: -130px;
  max-width: 403px;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 30px 80px -30px rgba(2, 49, 86, 0.1);
          box-shadow: 0px 30px 80px -30px rgba(2, 49, 86, 0.1);
  border-radius: 12px;
}

.requisites-telegram__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 20px;
}

.requisites-telegram__title h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1E1E1E;
  margin-bottom: 0;
}

.requisites-telegram__title h3 span {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.requisites-telegram__text {
  padding: 0 10px;
}

.requisites-telegram__text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  margin-bottom: 20px;
  max-width: 340px;
}

.requisites-telegram__subscribe {
  display: inline-block;
  padding: 20.5px 24px;
  background: #0089EE;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  border-radius: 4px;
}

.footer {
  margin-bottom: 60px;
}

.footer-logo {
  margin-left: 20px;
  margin-bottom: 40px;
}

.footer-item {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-inner p {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #A8B8C5;
  max-width: 700px;
}

.footer-inner p span {
  color: #1E1E1E;
}
/*# sourceMappingURL=main.css.map */