body {
  font-family: 'Montserrat', sans-serif;
  color: #1E1E1E;
  font-weight: 500;
}

a {
  color: #1E1E1E;
  text-decoration: none;
}

.container {
  width: 1268px;
  margin: 0 auto;
  padding: 0 10px;
}

.button-select {
  background: #0089EE;
  border-radius: 4px;
  width: 175px;
  height: 52px;
  padding: 20.5px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.header {
  overflow: hidden;
}

.header-top {
  padding: 22px 0;
}

.header-top__wrapper {
  max-width: 1392px;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__logo {
  width: 210px;
  border-right: 1px solid rgba(168, 184, 197, 0.4);
}

.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__phone {
  position: relative;
}

.header-top__phone::after {
  position: absolute;
  content: url(../img/phone_left.svg);
  top: 7px;
  left: -30px;
}

.header-top__phone a {
  font-size: 20px;
  line-height: 120%;
}

.header-top__phone p {
  color: #A8B8C5;
  line-height: 24px;
  font-size: 12px;
}

.header-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-menu ul li {
  padding: 10px;
}

.header-menu ul li a {
  font-size: 16px;
  line-height: 160%;
}

.header-main {
  position: relative;
  margin-bottom: 60px;
}

.header-main__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1392px;
  padding: 0 10px;
  background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
  border-radius: 12px 0px 0px 12px;
}

.header-main__wrapper::before {
  content: "";
  height: 100%;
  width: 100%;
  background: #EBEFF9;
  top: 0;
  right: -70%;
  position: absolute;
}

.header-main__container {
  padding: 135px 10px;
  max-width: 1268px;
  margin: 0 auto;
  position: relative;
}

.header-main__title {
  width: 495px;
  background: rgba(0, 137, 238, 0.1);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 40px;
}

.header-main__title p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0089EE;
}

.header-main__description {
  width: 526px;
}

.header-main__description h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
  margin-bottom: 40px;
}

.header-main__description p {
  width: 560px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  margin-bottom: 80px;
}

.header-main__img {
  position: absolute;
  content: "";
  height: 100%;
  top: 45px;
  right: 0;
  z-index: 1;
}

.header-main__img img {
  height: 100%;
}

.header-main__right-img {
  position: absolute;
  bottom: 135px;
  right: 0;
}

.header-benefit {
  margin-bottom: 200px;
}

.header-benefit__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-benefit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header-benefit__inner p {
  width: 256px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.header-benefit__title {
  margin-bottom: 24px;
  width: 256px;
}

.header-benefit__title p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #1E1E1E;
}

.header-benefit__title span {
  color: #0089EE;
}
/*# sourceMappingURL=main.css.map */