body {
  font-family: 'Montserrat', sans-serif;
  color: #1E1E1E;
  font-weight: 500;
}
a {
  color: #1E1E1E;
  text-decoration: none;
  cursor: pointer;
}
h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 110%;
}
.container {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 10px;
}
.button-select {
  background: #0089EE;
  border-radius: 4px;
  display: inline-block;
  padding: 20.5px 24px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
.button-detaled {
  border-radius: 4px;
  display: inline-block;
  padding: 20.5px 24px;
  color: #A8B8C5;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
}
.title__accent {
  background: rgba(0, 137, 238, 0.1);
  padding: 12px 16px;
  border-radius: 4px;
  display: inline-block;
  & p {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #0089EE;
  }
}
.header {
  overflow: hidden;
  &-top {
    padding: 22px 0;
    &__wrapper {
      max-width: 1392px;
      padding: 0 10px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      width: 210px;
      border-right: 1px solid rgba(168, 184, 197, 0.4);
    }
    &__contacts {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      align-items: center;
    }
    &__phone {
      position: relative;
      &::after {
        position: absolute;
        content: url(../img/phone_left.svg);
        top: 7px;
        left: -30px;
      }
      & a {
        font-size: 20px;
        line-height: 120%;
      }
      & p {
        color: #A8B8C5;
        line-height: 24px;
        font-size: 12px;
      }
    }
    &__social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 12px;
    }
  }
  &-menu {
    & ul {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      & li {
        padding: 10px;
        & a {
          font-size: 16px;
          line-height: 160%;
        }
      }
    }
  }
  &-main {
    position: relative;
    margin-bottom: 60px;
    &__wrapper {
      position: relative;
      margin: 0 auto;
      max-width: 1392px;
      padding: 0 10px;
      background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
      border-radius: 12px 0px 0px 12px;
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        background: #EBEFF9;
        top: 0;
        right: -70%;
        position: absolute;
      }
    }
    &__container {
      padding: 135px 10px;
      max-width: 1268px;
      margin: 0 auto;
      position: relative;
    }
    &__title {
      width: 495px;
      background: rgba(0, 137, 238, 0.1);
      border-radius: 4px;
      padding: 12px 16px;
      margin-bottom: 40px;
      & p {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #0089EE;
      }
    }
    &__description {
      width: 526px;
      & h1 {
        font-weight: 600;
        font-size: 44px;
        line-height: 110%;
        margin-bottom: 40px;
      }
      & p {
        width: 560px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #A8B8C5;
        margin-bottom: 80px;
      }
    }
    &__img {
      position: absolute;
      content: "";
      height: 100%;
      top: 45px;
      right: 0;
      z-index: 1;
      & img {
        height: 100%;
      }
    }
    &__right-img {
      position: absolute;
      bottom: 135px;
      right: 0;
    }
  }
  &-benefit {
    margin-bottom: 200px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;  
    }
    &__item {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
    }
    &__inner {
      & p {
        width: 256px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #A8B8C5;
      }
    }
    &__title {
      margin-bottom: 24px;
      width: 256px;
      & p {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #1E1E1E;
      }
      & span {
        color: #0089EE;
      }
    }

  }
}
.price {
  &__title {
    text-align: center;
    margin-bottom: 80px;
    & .title__accent {
      margin-bottom: 40px;
    }
    & h2 {
      margin-bottom: 24px;
    }
    & p {
      color: #A8B8C5;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
    }
  }
  &-cards {
    padding: 40px;
    background: #F4F7FF;
    border-radius: 12px;
    margin-bottom: 40px;
    &__item {
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
    }
    &__inner {
      & p {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #A8B8C5;
        margin-bottom: 40px;
      }
    }
    &__banner {
      display: flex;
      align-items: center;
      background: rgba(0, 137, 238, 0.1);
      column-gap: 8px;
      padding: 8px;
      width: 118px;
      margin-bottom: 32px;
      & p {
        color: #0089EE;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 0;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      & h3 {
        font-size: 20px;
        line-height: 120%;
      }
      & img {
        display: none;
      }
    }
    &__mobile {
      display: none;
    }
    &__benefit {
      margin-bottom: 50px;
      & ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        & li {
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          width: 178px;
          margin-left: 28px;
          position: relative;
          & span {
            color: #A8B8C5;
            text-transform: uppercase;
          }
          &::after {
            position: absolute;
            top: 5px;
            left: -28px;
            content: url(../img/checked.svg);
          }
          &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 87%;
            background: rgba(168, 184, 197, 0.4);
            right: -17%;
            top: 5px;
          }
          &:last-child::before {
            display: none;
          }
        }

      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
    }
    &__cta {
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
    &__price {
      display: flex;
      column-gap: 32px;
      align-items: center;
      &-value {
        font-weight: 600;
        font-size: 44px;
        line-height: 110%;
        color: #0089EE;
      }
    }
  }
  &-inn {
    padding: 40px;
    background: linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    column-gap: 40px;
    color: #fff;
    margin-bottom: 40px;
    &__item {
      &-mobile {
        display: none;
        justify-content: space-between;
      }
      &--2 {
        padding-top: 8px;
      }
    }
    &__description {
      display: flex;
      justify-content: space-between;
      column-gap: 32px;
      margin-bottom: 50px;
    }
    &__inner {
      & h3 {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 20px;
      }
      & p {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #C6E5F7;
      }
      &:last-child {
        margin-right: 24px;
      }
      & .price-cards__banner {
        background: rgba(244, 247, 255, 0.2);
        & p {
          color: #fff;
        }
      }
      & ul {
        padding-top: 32px;
        list-style: none;
        position: relative;
        & li {
          margin-bottom: 32px;
          position: relative;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          &::before {
            position: absolute;
            top: 5px;
            left: -28px;
            content: url(../img/checked_gray.svg);
          }
        } 
      }
    }
    &__price {
      display: flex;
      justify-content: space-between;
    }
    &__cta {
      display: flex;
      column-gap: 20px;
      & .button-detaled {
        border: 1.5px solid rgba(255, 255, 255, 0.2);
        color: #fff;
      }
    }
    &__value {
      font-weight: 600;
      font-size: 44px;
      line-height: 110%;
    }
  }
}
.compare {
  padding: 60px 0 40px;
  margin: 0 auto 40px;
  border: 1px solid rgba(168, 184, 197, 0.2);
  border-radius: 12px;
  max-width: 1268px;
  &__top {
    display: flex;
    column-gap: 100px;
  }
  &__stars {
    position: relative;
    width: 50%;
    & img {
      position: absolute;
    }
    & .stars-1 {
      top: -22px;
    }
    & .stars-2 {
      top: 0;
      left: 50px;
    }
    & .stars-3 {
      right: 0;
      bottom: 35px;
    }
  }
  &__title {
    padding: 0 40px;
    & h2 {
      font-weight: 600;
      font-size: 44px;
      line-height: 110%;
      margin-bottom: 25px;
    }
    & p {
      color: #A8B8C5;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 30px;
    }
  }
  &__country {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__table {
    text-align: center;
    & th {
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #1E1E1E;
      padding: 37.5px 75px 37.5px 35px;
    }
    & tr {
      & td {
        color: #A8B8C5;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        height: 80px;
        padding: 37.5px 75px 0 40px;
        & img {
        }
        & img, span {
          margin-right: 8px;
        }
        & p {
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
        }
        &:first-child {
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          text-align: left;
          color: #1E1E1E;
        }
      }
      &:nth-child(even) {
        background: #F4F7FF;
      }
    }
  }
  &__button {
    padding: 21px 24px;
    color: #A8B8C5;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    border: 1.5px solid rgba(168, 184, 197, 0.2);
    border-radius: 4px;
  }
  &-warning {
    background: linear-gradient(93.85deg, #F4F7FF 50.7%, rgba(244, 247, 255, 0) 75.59%);
    border-radius: 4px;
    max-width: 1168px;
    margin: 0 auto;
    padding: 24px;
    &__item {
      display: flex;
      align-items: center;
      column-gap: 16px;
      & p {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #A8B8C5;
        max-width: 950px;
      }
    }
    &__i {
      border: 2px solid #A8B8C5;
      color: #A8B8C5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
}
.banner-detailed {
  padding-top: 80px;
  position: relative;
  &__item {
    background: linear-gradient(93.31deg, #51B6FF 0%, #007FE4 100%);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 60px;
  }
}